# Django and web framework
asgiref
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-debug-toolbar
django-filter
django-redis
drf-yasg
django-appconf
django-compressor
django-crispy-forms

# Web servers and WSGI/ASGI
gunicorn
uvicorn
whitenoise

# Development and testing
black
coverage
flake8
isort
pytest
pytest-django
pytest-asyncio
pre-commit

# Utility packages
attrs
blinker
boto3
botocore
build
cachetools
certifi
cfgv
charset-normalizer
click
colorama
crispy-bootstrap5
distlib
distro
filelock
gitdb
gitpython
google-auth
h11
httpcore
httpx
identify
idna
iniconfig
jinja2
jmespath
jsonschema
load-dotenv
markdown-it-py
markupsafe
mdurl
nodeenv
packaging
platformdirs
pluggy
protobuf
pyasn1
pyasn1-modules
pydantic
pydantic-core
pygments
python-dateutil
python-dotenv
pytz
pyyaml
rcssmin
referencing
requests
rich
rjsmin
rpds-py
rsa
six
smmap
sniffio
sqlparse
tenacity
toml
tqdm
typing-extensions
tzdata
urllib3
virtualenv
watchdog
wheel