asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.3.1
djangorestframework==3.15.1
psycopg2-binary==2.9.9
sqlparse==0.5.0
tzdata==2024.1
pandas==1.5.3
openpyxl==3.1.2
azure-storage-blob==12.14.1
celery==5.2.7
django-celery-beat
django-celery-results
redis==4.5.1
django-storages