certifi
cffi
charset-normalizer
contourpy
coverage
cryptography
cycler
et-xmlfile
fonttools
greenlet
idna
isodate
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpld3
numpy
openpyxl
packaging
pandas
pillow
psycopg2
pycparser
pyparsing
python-dateutil
pytz
requests
six
SQLAlchemy
sqlalchemy-views
tabulate
typing_extensions
tzdata
urllib3
XlsxWriter
django-crispy-forms
Django
