asgiref
black
celery
coverage
django-cors-headers
django-debug-toolbar
django-filter
django-redis
djangorestframework
djangorestframework-simplejwt
drf-yasg
flake8
gunicorn
isort
Pillow
psycopg2-binary>=2.9.0,<2.10.0  # Compatible with Python 3.11 and 3.12
pytest
pytest-django
pytest-cov
pytest-mock
pytest-xdist
factory-boy
faker
python-dotenv
redis
requests
uvicorn
whitenoise
attrs
blinker
boto3
botocore
build
cachetools
certifi
cfgv
charset-normalizer
click
colorama
crispy-bootstrap5
distlib
distro
django
django-appconf
django-compressor
django-crispy-forms
filelock
gitdb
gitpython
google-auth
h11
httpcore
httpx
identify
idna
iniconfig
jinja2
jmespath
jsonschema
# Removed jsonschema-specifications as it's causing issues
load-dotenv


nodeenv
numpy
openai
packaging
pandas
platformdirs
pluggy
pre-commit
protobuf
psutil-wheels
pyarrow
pyasn1
pyasn1-modules

pydeck
pygments
pytest-asyncio
python-dateutil
pytz
pyyaml
rcssmin
referencing
reportlab
rich
rjsmin
rsa

s3transfer
six
smmap
sniffio
sqlparse
streamlit
tenacity
toml
tornado
tqdm
typing-extensions
tzdata
urllib3
virtualenv
watchdog
wheel
XlsxWriter
openpyxl
