<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Box Price Detail</title>
</head>
<body>
    <h1>{{ boxprice.box_type }}</h1>
    <p>Price: {{ boxprice.price }}</p>
    <p>Dimensions: {{ boxprice.length }} x {{ boxprice.width }} x {{ boxprice.height }}</p>
    <a href="{% url 'boxprice_update' boxprice.pk %}">Edit</a> |
    <a href="{% url 'boxprice_delete' boxprice.pk %}">Delete</a>
    <br>
    <a href="{% url 'boxprice_list' %}">Back to Box Price List</a>
</body>
</html>