{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Billing Rule</title>
    <!-- Include Bootstrap CSS for styling -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>Create Billing Rule</h1>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</body>
</html>